<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FunToy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
      <!-- 導航列 -->
      <header>
        <section class="logo">
          <a href="../index/index.html"
            ><img class="logo" src="../picture/logo/LogoVer2.png" alt=""
          /></a>
          <div class="top">
            <div class="menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="search">
              <img src="../picture/icon/scan.png" alt="" />
              <input type="text" placeholder="搜尋商品" />
            </div>
            <!-- RWD搜尋 -->
            <div class="rwd-search">
              <input type="search" placeholder="搜尋商品" />
            </div>
            <!-- ------- -->
            <div class="user">
              <a href="#"><img src="../picture/icon/user.png" alt="" /></a>
            </div>
            <div class="cart">
              <a href="#"
                ><img src="../picture/icon/shopping-cart.png" alt=""
              /></a>
            </div>
            <!-- RWD導覽列 -->
            <div class="rwd-nav">
              <ul>
                <li v-for="(item, index) in navItems" :key="index">
                  <a :href="item.link"
                    ><i :class="item.iconClass"></i>{{ item.text }}</a
                  >
                </li>
              </ul>
            </div>
            <!-- ---------------- -->
          </div>
        </section>

        <section class="nav-list">
          <nav>
            <ul>
              <li v-for="(item, index) in navItems" :key="index">
                <a :href="item.link"
                  ><i :class="item.iconClass"></i>{{ item.text }}</a
                >
              </li>
            </ul>
          </nav>
        </section>
      </header>

      <!-- 輪播banner -->
      <section class="banner">
        <h1>FunToy Film</h1>

        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->

            <div
              v-for="(item, index) in topSwiperItems"
              :key="index"
              class="swiper-slide"
            >
              <img :src="item.imgSrc" class="slide" alt="" />
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev">
            <img src="../picture/icon/left-arrow.png" alt="" />
          </div>
          <div class="swiper-button-next">
            <img src="../picture/icon/right-arrow.png" alt="" />
          </div>

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
          <!-- </div> -->
        </div>
      </section>

      <!-- News -->
      <section class="news">
        <div class="md-news-title">
          <h1>最新消息<span>NEWS</span></h1>
          <a href="../news/news.html">看更多</a>
        </div>
        <div class="content">
          <div class="main">
            <img src="../picture/news/mario-export.png" alt="" />
            <br />
            <p>
              一番賞『超級瑪利歐兄弟電影版』確定 05 月開抽
              問號磚塊、超級蘑菇抱墊多種獎項登場！
            </p>
          </div>

          <div class="other">
            <div class="other-card">
              <img src="../picture/news/p2-cut.png" alt="" />
              <br />
              <p>
                人氣轉蛋商品『遭遇強風也不認輸』寶可夢版登場
                於寶可夢中心限定販售中！
              </p>
            </div>

            <div class="other-card">
              <img src="../picture/news/p1-cut.png" alt="" />
              <br />
              <p>
                T-ARTS轉蛋『靠肩Fig. 寶可夢』<br />第3彈帶來可達鴨、呆呆獸、沼王等超可愛寶可夢！
              </p>
            </div>

            <div class="more">
              <a href="../news/news.html">MORE NEWS</a>
            </div>
          </div>
        </div>
      </section>

      <!-- 新貨到 -->
      <div class="new-item-title">
        <h1>NEW ITEMS <span style="color: rgb(255, 151, 9)">!</span></h1>
      </div>

      <section class="new-item">
        <div class="items">
          <div v-for="(cards, index) in newItems" :key="index" class="cards">
            <div v-for="(card, index) in cards" :key="index" class="card">
              <a :href="card.link"><img :src="card.imgSrc" alt="" /></a>
              <p>{{card.releaseDate.month}}月{{card.releaseDate.date}}日發售</p>
              <div class="newtag">NEW</div>
            </div>
          </div>
        </div>
      </section>

      <!-- 預購商品 -->
      <div class="preorder-title">PRE-ORDER 以下商品開放預購</div>
      <section class="preorder">
        <div class="second-swiper mySwiper">
          <div class="swiper-wrapper">
            <div
              v-for="(item, index) in preorderSwiperItems"
              :key="index"
              class="swiper-slide"
            >
              <img :src="item.imgSrc" alt="" />
              <p>{{item.releaseDate.year}}年{{item.releaseDate.month}}月發售</p>
            </div>
          </div>
        </div>
      </section>

      <!-- PVC品牌 -->
      <section class="brand">
        <div
          v-for="(item, index) in brandItems"
          :key="index"
          class="brand-card"
        >
          <div class="pic">
            <a href="#"><img :src="item.imgSrc" alt="" /></a>
          </div>
          <p>{{item.brand}}</p>
        </div>
      </section>

      <!-- 本站商品 -->
      <section class="product">
        <div class="product-top">
          <h1>本站商品 Products</h1>
          <a href="../products/products.html">逛逛去</a>
        </div>

        <div class="dash"></div>
        <div v-for="(cards, index) in productItems" :key="index" class="cards">
          <div v-for="(card, index) in cards" :key="index" class="card">
            <div class="pic">
              <a :href="card.link"><img :src="card.imgSrc" alt="" /></a>
            </div>

            <p>{{card.title}}</p>
            <div class="price">
              <p>${{card.price}}</p>
              <button>加入購物車</button>
            </div>
          </div>
        </div>
      </section>

      <div class="film">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ymVnEm4nGgQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="film2">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/edZnUXuhVXc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="film3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/b91Qfs4lMQA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="film4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/yBBcbb97hNU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="film5">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/4UZ2wT9Nef4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <footer>
        <div class="footer-content">
          <div class="link">
            <ul>
              <li v-for="(item, index) in footerLinkItems" :key="index">
                <a href="#">{{item.text}}</a>
              </li>
            </ul>
            <p>
              Copyright&copy;本網站為緯育TibaMe學員專題作品，僅供學習、展示之用
            </p>
          </div>
          <div class="mail">
            <p>客服信箱：service@funtoy.gmail.com</p>
            <div class="social-logo">
              <div
                class="logo"
                v-for="(item, index) in footerLogoItems"
                :key="index"
              >
                <a href="#"><img :src="item.link" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="scroll-to-top">
        <img src="./picture/icon/up-arrow.png" alt="" />
      </div>
    </div>

    <!-- swiper -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            navItems: [
              {
                link: "../index/index.html",
                iconClass: "fa-solid fa-house-chimney",
                text: "首頁",
              },
              {
                link: "../news/news.html",
                iconClass: "fa-solid fa-table-list",
                text: "最新消息",
              },
              {
                link: "../products/products.html",
                iconClass: "fa-solid fa-bag-shopping",
                text: "所有商品",
              },
              {
                link: "../about/about.html",
                iconClass: "fa-solid fa-address-card",
                text: "關於我們",
              },
              {
                link: "../contact/contact.html",
                iconClass: "fa-sharp fa-regular fa-message",
                text: "常見Q&A",
              },
            ],

            footerLinkItems: [
              { text: "關於我們" },
              { text: "購物說明" },
              { text: "會員規章" },
              { text: "網站使用條款" },
              { text: "聯絡我們" },
            ],

            footerLogoItems: [
              { link: "../picture/icon/facebook.png" },
              { link: "../picture/icon/youtube.png" },
              { link: "../picture/icon/line.png" },
            ],

            topSwiperItems: [
              { imgSrc: "../picture/video-cover/video-2.png" },
              { imgSrc: "../picture/video-cover/video-3.png" },
              { imgSrc: "../picture/video-cover/video-4.png" },
              { imgSrc: "../picture/video-cover/video-5.png" },
              { imgSrc: "../picture/video-cover/video-1.png" },
            ],

            newItems: [
              [
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/ironMan.png",
                  releaseDate: { month: "3", date: "25" },
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/sabo.png",
                  releaseDate: { month: "3", date: "25" },
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/sugo.png",
                  releaseDate: { month: "3", date: "28" },
                },
              ],
              [
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/uta.png",
                  releaseDate: { month: "3", date: "28" },
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/eva.png",
                  releaseDate: { month: "4", date: "1" },
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/new-profuct/spider.png",
                  releaseDate: { month: "4", date: "10" },
                },
              ],
            ],

            preorderSwiperItems: [
              {
                imgSrc: "../picture/order/preorder-1.png",
                releaseDate: { year: "2023", month: "8" },
              },

              {
                imgSrc: "../picture/order/tokyo.png",
                releaseDate: { year: "2023", month: "8" },
              },

              {
                imgSrc: "../picture/order/hero-1.jpg",
                releaseDate: { year: "2023", month: "9" },
              },

              {
                imgSrc: "../picture/order/preorder-3.png",
                releaseDate: { year: "2023", month: "9" },
              },

              {
                imgSrc: "../picture/order/hero-2.jpg",
                releaseDate: { year: "2023", month: "10" },
              },
              {
                imgSrc: "../picture/order/preorder-4.png",
                releaseDate: { year: "2023", month: "10" },
              },
              {
                imgSrc: "../picture/order/preorder-2.png",
                releaseDate: { year: "2023", month: "11" },
              },
            ],

            brandItems: [
              { imgSrc: "../picture/brand/MH.png", brand: "MegaHouse" },
              { imgSrc: "../picture/brand/GSC.png", brand: "GSC" },
              { imgSrc: "../picture/brand/ALTER.png", brand: "ALTER" },
              {
                imgSrc: "../picture/brand/rement_logo_343x343.png",
                brand: "Re-Ment",
              },
            ],

            productItems: [
              [
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/product3.png",
                  title: "火影忍者 疾風傳 VIBRATION STARS 宇智波佐助&地達羅",
                  price: 760,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/DX ball.jpg",
                  title: "MH PETITRAMA DX 七龍珠 孫悟空 成長軌跡",
                  price: 1800,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/product1.jpg",
                  title: "Figure-rise 遊戲王 黑暗大法師艾克佐迪亞 增幅版",
                  price: 1080,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/product2.png",
                  title: "Max Factory 船長 寶鐘瑪琳",
                  price: 4800,
                },
              ],

              [
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/breath.jpg",
                  title: "T-art 鬼滅之刃 轉蛋系列",
                  price: 999,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/chainsaw.jpg",
                  title: "GSC SEGA 鏈鋸人 淀治",
                  price: 4980,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/edward.jpg",
                  title: "PROOF 鋼之鍊金術師 愛力克兄弟套組",
                  price: 7900,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/carbee.jpg",
                  title: "Re-Ment 星之卡比盒玩 肚子餓了 卡比廚房",
                  price: 1200,
                },
              ],

              [
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/onepiece.jpg",
                  title: "MH GEM 海賊王 大和 小時候 RUN!",
                  price: 1350,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/saber.jpg",
                  title: "角川 Fate HF 黑化Saber 和服ver",
                  price: 4500,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/MG.jpg",
                  title: "BANDAI 魔法少年賈修 轉蛋系列",
                  price: 999,
                },
                {
                  link: "../item/item.html",
                  imgSrc: "../picture/product/fairy.jpg",
                  title: "BellFine 魔導少年最終章 艾爾莎．史卡雷特",
                  price: 4800,
                },
              ],
            ],
          };
        },
      }).mount("#app");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
