<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>相關消息</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./news.css" />
  </head>
  <body>
    <div id="app">
      <!-- 導航列 -->
      <header>
        <section class="logo">
          <a href="index.html"
            ><img class="logo" src="../picture/logo/LogoVer2.png" alt=""
          /></a>
          <div class="top">
            <div class="menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="search">
              <img src="../picture/icon/scan.png" alt="" />
              <input type="text" placeholder="搜尋商品" />
            </div>
            <!-- RWD搜尋 -->
            <div class="rwd-search">
              <input type="search" placeholder="搜尋商品" />
            </div>
            <!-- ------- -->
            <div class="user">
              <a href="#"><img src="../picture/icon/user.png" alt="" /></a>
            </div>
            <div class="cart">
              <a href="#"
                ><img src="../picture/icon/shopping-cart.png" alt=""
              /></a>
            </div>
            <!-- RWD導覽列 -->
            <div class="rwd-nav">
              <ul>
                <li v-for="(item, index) in navItems" :key="index">
                  <a :href="item.link"
                    ><i :class="item.iconClass"></i>{{ item.text }}</a
                  >
                </li>
              </ul>
            </div>
            <!-- ---------------- -->
          </div>
        </section>

        <section class="nav-list">
          <nav>
            <ul>
              <li v-for="(item, index) in navItems" :key="index">
                <a :href="item.link"
                  ><i :class="item.iconClass"></i>{{ item.text }}</a
                >
              </li>
            </ul>
          </nav>
        </section>
      </header>

      <section class="news">
        <div class="news-item" v-for="(item, index) in newsItems" :key="index">
          <div class="card">
            <h1 v-if="index === 0">TOY NEWS</h1>

            <div class="pic">
              <a href="../article/article.html"
                ><img :src="item.imgSrc" alt="article.html"
              /></a>
            </div>
            <div class="content">
              <h2>{{item.title}}</h2>
              <p>{{item.text}}</p>
            </div>
          </div>
        </div>
      </section>

      <div class="page">
        <div v-for="(_, index) in 9" :key="index">
          <div
            v-if="index !== 6"
            :class="index === 0 ? 'page-first': index === 8 ? 'page-next':'page-other'"
          >
            <a href="#"
              >{{index + 1 === 6 ? '...' : index + 1 === 9 ? '下一頁' : index +
              1}}</a
            >
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-content">
          <div class="link">
            <ul>
              <li v-for="(item, index) in footerLinkItems" :key="index">
                <a href="#">{{item.text}}</a>
              </li>
            </ul>
            <p>
              Copyright&copy;本網站為緯育TibaMe學員專題作品，僅供學習、展示之用
            </p>
          </div>
          <div class="mail">
            <p>客服信箱：service@funtoy.gmail.com</p>
            <div class="social-logo">
              <div
                class="logo"
                v-for="(item, index) in footerLogoItems"
                :key="index"
              >
                <a href="#"><img :src="item.link" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="scroll-to-top">
        <img src="./picture/icon/up-arrow.png" alt="" />
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            navItems: [
              {
                link: "../index/index.html",
                iconClass: "fa-solid fa-house-chimney",
                text: "首頁",
              },
              {
                link: "../news/news.html",
                iconClass: "fa-solid fa-table-list",
                text: "最新消息",
              },
              {
                link: "../products/products.html",
                iconClass: "fa-solid fa-bag-shopping",
                text: "所有商品",
              },
              {
                link: "../about/about.html",
                iconClass: "fa-solid fa-address-card",
                text: "關於我們",
              },
              {
                link: "../contact/contact.html",
                iconClass: "fa-sharp fa-regular fa-message",
                text: "常見Q&A",
              },
            ],

            newsItems: [
              {
                imgSrc: "../picture/news/zero two cover.png",
                title: `『S.H.Figuarts』系列推出假面騎士-01主角在驅動器裝上ZERO-TWO
                ProgriseKey後變身的模樣，可動ZERO-TWO隆重登場！`,
                text: `劇中登場的假面騎士ZERO-TWO是男女主角飛電或人、伊茲運用飛電
                ZERO-TWO 驅動器與 ZERO-TWO
                數據鑰匙變身而成的假面騎士，所有蝗蟲系統能力之集大成，不僅活用飛電金屬、量子技術使整體性能大幅提升...`,
              },
              {
                imgSrc: "../picture/news/pokemon.jpg",
                title: `《寶可夢》大型展覽「Pokémon Spring Festa
                2023」首次坐落韓國與「小智和皮卡丘」再度見面`,
                text: `儘管《寶可夢》系列動畫已經來到了新的世代，開播7集的新作《寶可夢
                地平線》也確實給多數觀眾不錯的印象，但對於老粉絲們來說，對於陪伴我們26年時光的小智退休這件事，依然有些落寞。
                也因為如此，...`,
              },
              {
                imgSrc: "../picture/news/dragon ball.jpg",
                title: `一番賞 七龍珠 激突!!賭上宇宙的戰鬥」魔王達普拉、賽亞超人 09
                月大魄力開抽！`,
                text: `此次的「一番賞 七龍珠
                激突!!賭上宇宙的戰鬥」以經典的對戰組合為主題，推出 A ~ H 賞 +
                最後賞等不同級別的獎品，目前公開了兩組對戰組合角色模型，每款都是造型極為精緻的「MASTERLISE」系列模型，細膩再現壯碩的肌肉線條和服裝紋路！分別有...`,
              },
              {
                imgSrc: "../picture/news/zelda.jpg",
                title: `大獎是大師之劍燈飾！一番賞『薩爾達傳說 王國之淚』全獎項公開
                遊戲發售前搶先登場`,
                text: `受到全球玩家矚目任天堂薩爾達系列最新作《薩爾達傳說
                王國之淚》，13日晚間公佈最新遊戲宣傳影片後，日本 BANDAI SPIRITS
                公司旗下抽抽都有獎的超人氣『一番賞（一番くじ）』品牌也隨即發表最新商品「一番賞
                薩爾達傳說 王國之淚」預計於 ...`,
              },
              {
                imgSrc: "../picture/news/nami.jpg",
                title: `回憶殺第二彈！一番賞「航海王 Emotional Stories
                2」童年娜美&貝爾梅爾、喬巴&西爾爾克經典場景重現`,
                text: `在好評的「航海王 Emotional Stories」後，本次的第二彈「一番賞
                航海王 Emotional Stories
                2」將帶來更多滿滿的回憶！收錄有「Revible Moment」系列的
                A賞「娜美&虹子&貝爾梅爾」、B賞「喬巴&西爾爾克」 ...`,
              },
              {
                imgSrc: "../picture/news/t-art pokemon.jpg",
                title: `T-ARTS《寶可夢》場景收藏 帕底亞地區篇轉蛋 小小御三家的激鬥上演！`,
                text: `T-ARTS《寶可夢》主題的「場景收藏」是在 4.5～5.5
                公分的尺寸當中以攻擊時的躍動姿態將各種屬性的寶可夢立體化，並加上同規格的可拼接底座、對應各屬性的攻擊特效，在迷你尺寸當中把玩出寶可夢們可愛又強力的激戰場面；不同於前兩彈主打屬性對戰...`,
              },
              {
                imgSrc: "../picture/news/carbee.jpg",
                title: `大獎是 32 公分圓滾滾卡比！一番賞『星之卡比
                噗噗噗風新生活☆』即將於 04 月 22 日發售`,
                text: `最新款「噗噗噗風新生活☆」這次要以《星之卡比》中擁有高人氣的主角卡比以及可愛的主要敵人瓦豆魯迪為主，融入遊戲元素推出各式各樣可愛又實用的生活週邊，其中最大的
                A 賞是直徑達 32
                公分的圓滾滾卡比布偶，腳底製作出從此次商品標題的刺繡，感覺抱起來超舒服...`,
              },
              {
                imgSrc: "../picture/news/panasonic.jpg",
                title: `Panasonic Battery
                ✕《機動戰士鋼彈》聯名活動！買滿額就送聯名野餐墊、工具箱～持續生活的動力`,
                text: `今天我們玩具人編輯部要帶來 Panasonic Battery
                與《機動戰士鋼彈》重磅聯名的活動！除了這次的主角「鹼性電池」與「充電電池」之外，還有一系列的鋼彈主題贈品，像是以《機動戰士鋼彈》為題打造的工具箱、野餐墊、咖啡杯...`,
              },
            ],

            footerLinkItems: [
              { text: "關於我們" },
              { text: "購物說明" },
              { text: "會員規章" },
              { text: "網站使用條款" },
              { text: "聯絡我們" },
            ],

            footerLogoItems: [
              { link: "../picture/icon/facebook.png" },
              { link: "../picture/icon/youtube.png" },
              { link: "../picture/icon/line.png" },
            ],
          };
        },
      }).mount("#app");
    </script>

    <style>
      .page div:nth-child(6) .page-other {
        background-color: #fff;
      }

      .page div:nth-child(6) .page-other a {
        color: #000;
      }
    </style>

    <script>
      // click menu 漢堡 事件
      let menu = document.querySelector(".menu");
      let rwdNav = document.querySelector(".rwd-nav");
      menu.addEventListener("click", () => {
        menu.classList.toggle("cross");

        rwdNav.classList.toggle("open");
      });

      // 在手機版，click search事件
      let search = document.querySelector(".search");
      let rwdSearch = document.querySelector(".rwd-search");

      search.onclick = () => {
        rwdSearch.classList.toggle("open");
      };

      // 捲動至頁頂
      let toTop = document.querySelector(".scroll-to-top");
      toTop.onclick = () => {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      };

      // 在415px以下捲動視窗，logo可以消失
      let logo = document.querySelector("img.logo");

      window.addEventListener("scroll", () => {
        if (window.matchMedia("(max-width: 415px)").matches) {
          if (window.scrollY >= 550) {
            logo.classList.add("slideup");
            toTop.style.display = "block";
          } else {
            logo.classList.remove("slideup");

            toTop.style.display = "none";
          }
        }
      });
    </script>
  </body>
</html>
